<h1>Options options options!</h1>


<img src="http://www.yourseniorlivingoptions.com/uploads/1/2/1/4/12143033/9597129_orig.jpg">

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Contact Us{{/link-to}}
{{#link-to 'deals'}}Deals!{{/link-to}}
